.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.label {
    margin-bottom: 0;
    /* Reset default label margin */
    color: var(--text-secondary);
}

.inputError {
    border-color: #ff4d4d;
    box-shadow: 0 0 0 1px #ff4d4d;
}

.error {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 2px;
}