.container {
    position: relative;
    width: 100%;
}

.iconWrapper {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--text-secondary);
    opacity: 0.7;
}

.input {
    padding-left: 40px;
    /* Space for icon */
}