.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.calendarBtn {
    height: 32px;
    width: 32px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.2s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarBtn:hover {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

/* Хедер секции без отступа */
.sectionHeaderNoMargin {
    margin-bottom: 0;
}